<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Header</title>
</head>
<body>
<header>
  <nav>
    <div id="header">
      <a href=""><img id="logoPhoto" src = "/images/logoimg.png"></a>
      <div id="menu">
        @if (localStorage.getItem("user") !== null) {
          @for (item of [
            {link: "empleados", title: "Empleados", admin: true},
            {link: "tareas", title: "Tareas", admin: true},
            {link: "dashboard", title: "Dashboard", admin: false},
            {link: "recintos", title: "Recintos", admin: false},
            {link: "artistas", title: "Artistas", admin: false},
            {link: "eventos", title: "Eventos", admin: false}
          ]; track item.title;){
            @if (userRole === "Administrador") {
              <a class="headerLink unauthhide"  [routerLink] = item.link>{{item.title}}</a>
            } @else {
              @if (!item.admin) {
                <a class="headerLink unauthhide" [routerLink] = item.link>{{item.title}}</a>
              }
            }
          }
        }

      </div>
      @if (this.authService.loggedIn) {
        <button id="hamburger" onclick="toggleMenu()">&#9776;</button>
        <a class="unauthhide" id="userPhoto" href="../html/cuenta_usuario.html"><img src = "/images/icon.png"></a>
      }


    </div>
  </nav>
</header>
</body>
</html>

