<body>
<footer>
  <nav id="links">
    @if (localStorage.getItem("user") !== null) {
      @for (item of [
        {link: "empleados", title: "Empleados", admin: true},
        {link: "tareas", title: "Tareas", admin: true},
        {link: "dashboard", title: "Dashboard", admin: false},
        {link: "recintos", title: "Recintos", admin: false},
        {link: "artistas", title: "Artistas", admin: false},
        {link: "eventos", title: "Eventos", admin: false}
      ]; track item.title;){
        @if (userRole === "Administrador") {
          <a class="footerLink unauthhide" [routerLink] = item.link>{{item.title}}</a>
        } @else {
          @if (!item.admin) {
            <a class="footerLink unauthhide" [routerLink]= item.link>{{item.title}}</a>
          }


        }
      }
    }
  </nav>
  <img id="logo" src = "/images/logoLargo.png">
  <div id="messages">
    <a class="footerLink">© 2025 Grupo 44.1 PWM</a>
    <a [routerLink]="['/soporte_tecnico']" class="footerLink">Soporte técnico</a>
  </div>
</footer>
</body>
