<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>content-viewer</title>
    <link rel="stylesheet" href="../css/content-viewer.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="content">
        <h1 id="titulo1">Tareas</h1>
        <div class="inputs-content">
            <input type="search" placeholder="Buscar" class="search-filter" id="search">
            <select place id="filtro1" class="search-filter">
                <option value="" disabled selected> Prioridad</option>
            </select>
            <select place id="filtro2" class="search-filter">
                <option value="" disabled selected>Empleado</option>
            </select>
            <select place id="filtro3" class="search-filter">
                <option value="" disabled selected>Fecha</option>
            </select>
            <button class="search-filter" id="search-button"><img src="../resources/images/lupa.png"></button>
        </div>
        <div class="table-container">
            <table class="table-viewer">
                <thead>
                <tr>
                    <th id="col1" class="col1">Nombre</th>
                    <th id="col2" class="col2">Descripción</th>
                    <th id="col3" class="col3">Prioridad</th>
                    <th id="col4" class="col4">Empleado</th>
                    <th id="col5" class="col5">boton</th>
                </tr>
                </thead>
                <tr>
                    <td class="col1">Lorem</td>
                    <td class="col2">Ipsum</td>
                    <td class="col3">Lorem</td>
                    <td class="col4">Lorem Ipsum</td>
                    <td class="col5"><button class="button_colum">ver artista</button></td>
                </tr>
                <tr>
                    <td class="col1">Lorem</td>
                    <td class="col2">Ipsum</td>
                    <td class="col3">Lorem</td>
                    <td class="col4">Lorem Ipsum</td>
                    <td class="col5"><button class="button_colum">ver artista</button></td>
                </tr>
                <tr>
                    <td class="col1">Lorem</td>
                    <td class="col2">Ipsum</td>
                    <td class="col3">Lorem</td>
                    <td class="col4">Lorem Ipsum</td>
                    <td class="col5"><button class="button_colum">ver artista</button></td>
                </tr>
                <tr>
                    <td class="col1">Lorem</td>
                    <td class="col2">Ipsum</td>
                    <td class="col3">Lorem</td>
                    <td class="col4">Lorem Ipsum</td>
                    <td class="col5"><button class="button_colum">ver artista</button></td>
                </tr>
                <tr>
                    <td class="col1">Lorem</td>
                    <td class="col2">Ipsum</td>
                    <td class="col3">Lorem</td>
                    <td class="col4">Lorem Ipsum</td>
                    <td class="col5"><button class="button_colum">ver artista</button></td>
                </tr>
                <tr>
                    <td class="col1">Lorem</td>
                    <td class="col2">Ipsum</td>
                    <td class="col3">Lorem</td>
                    <td class="col4">Lorem Ipsum</td>
                    <td class="col5"><button class="button_colum">ver artista</button></td>
                </tr>
                <tr>
                    <td class="col1">Lorem</td>
                    <td class="col2">Ipsum</td>
                    <td class="col3">Lorem</td>
                    <td class="col4">Lorem Ipsum</td>
                    <td class="col5"><button class="button_colum">ver artista</button></td>
                </tr>
                <tr>
                    <td class="col1">Lorem</td>
                    <td class="col2">Ipsum</td>
                    <td class="col3">Lorem</td>
                    <td class="col4">Lorem Ipsum</td>
                    <td class="col5"><button class="button_colum">ver artista</button></td>
                </tr>

            </table>
        </div>
    </div>
    <div class="button-view">
        <button id="add-button">Añadir tarea</button>
    </div>
</body>
</html>