<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Footer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <footer>
        <nav id="links">
            <a class="footerLink" href="">Recintos</a>
            <a class="footerLink" href="">Dashboard</a>
            <a class="footerLink" href="">Tareas</a>
            <a class="footerLink" href="">Empleados</a>
            <a class="footerLink" href="">Artistas</a>
            <a class="footerLink" href="">Eventos</a>
        </nav>
        <img id="logo" src="../resources/images/logoLargo.png">
        <div id="messages">
            <a class="footerLink">© 2025 Grupo 44.1 PWM</a>
            <a class="footerLink">Soporte técnico</a>
        </div>
    </footer>

</body>
</html>