* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

:root {
    --orange: #FFB52C;
}

.table-container {
    overflow-y: auto;
    border: 1px solid #ccc;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    position: sticky;
    top: 0;
    background-color: #f1f1f1;
    z-index: 1;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}
