<body>

<h1 id="support-title">Soporte Técnico</h1>
<div class="login_container">
  <form (submit) = "onSubmit($event)" id="login-form">
    <div class="input_container">
      <h2 id="text-main-superior">{{nombre || "Correo electrónico"}}</h2>
      <input type="email" placeholder="Correo electrónico" id="email" name="email" required>
      <h2 id="text-main-inferior">Contraseña</h2>
      <input type="password" placeholder="Contraseña" id="password" name="password" required>
      <a class="link_password" href="../html/correo_recuperacion.html">¿Has olvidado la contraseña?</a>
    </div>
    <div class="button-container">
      <button id="main-button" type="submit">Iniciar sesión</button>
    </div>
  </form>
</div>
</body>
